<%= render "shared/header" %>

<main>
  <h1>Portfolio</h1>
  <p>お仕事依頼やお問い合わせはこちらから</p>

<div class="portfolio-content">
  <div class="link-btn-box">
    <%= link_to "Click here to request a design job", portfolio_path, class: "link-btn" %>
  </div>

  <div class="portfolio-images">
    <div class="image-row">
      <%= image_tag "portfolio1.jpg", class: "portfolio-image" %>
      <%= image_tag "portfolio2.jpg", class: "portfolio-image" %>
    </div>
    <div class="image-row">
      <%= image_tag "portfolio3.jpg", class: "portfolio-image" %>
      <%= image_tag "portfolio4.jpg", class: "portfolio-image" %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>