<%= render "shared/header" %>

<main id="portfolio">
  <h1>Portfolio</h1>
  <p class="portfolio-text">お仕事依頼やお問い合わせはこちらから↓</p>
    <!--CONTACTへのリンクボタン-->
      <br>
      <br>
  <div class="link-btn-box">
    <%= link_to "Click here to request a design job", "mailto:kana.yoshida@nawgraph.com", class: "link-btn" %>
  </div>
      <br>
      <br>
      <br>
  <div class="portfolio-images">
    <div class="image-row">
      <%= image_tag "portfolio1.jpg", class: "portfolio-image" %>
      <%= image_tag "portfolio2.jpg", class: "portfolio-image" %>
    </div>
    <div class="image-row">
      <%= image_tag "portfolio3.jpg", class: "portfolio-image" %>
      <%= image_tag "portfolio4.jpg", class: "portfolio-image" %>
    </div>
    <div class="image-row">
      <%= image_tag "portfolio5.jpg", class: "portfolio-image" %>
      <%= image_tag "portfolio6.jpg", class: "portfolio-image" %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>