<nav id="global-menu" class="flex">
  <div class="left-content flex">

    <%# Loginページへのリンク %>
    <%= link_to "Login", new_user_session_path, data: { turbo: false }, class: "header-menu" %>
    <%# Logoutページへのリンク %>
    <%= link_to "Logout", destroy_user_session_path, data: { turbo: false }, class: "header-menu", onclick: "event.preventDefault(); document.getElementById('logout-form').submit();" %>
    <%= form_with url: destroy_user_session_path, method: :delete, id: "logout-form", style: "display: none;" do %>
    <% end %>
  </div>
  <%# TOPページへのリンク %>
  <div class="center-content">
        <%= link_to image_tag("cycpp_logo_k.svg"), root_path, data: { turbo: false }, class: "header-logo" %>
  </div>
  <div class="right-content">
    <%= link_to "ONLINE STORE", products_path, class: "online-store-btn" %>
  </div>
</nav>

