<%= render "shared/header" %>
<main id="products">
  <h1>Online store</h1>
    <% unless user_signed_in? %>
    <p>ご注文はユーザー登録をお願いします</p>
    <div class="link-btn-box">
      <%= link_to "Click here to order and register", new_user_registration_path, class: "link-btn" %>
    </div>
    <% end %>
    
  <div class="products">
    <% @products.each do |product| %>
      <div class="product">
        <% if product.image_url.attached? %>
          <%= image_tag product.image_url, width: "200px" %>
        <% else %>
          <%= image_tag "product1.jpg",  width: "200px" %>
        <% end %>

        <%# 商品が売れている場合は、sold out %>
        <% if product.order.present? %>
          <div class="sold-out">
            <span>Sold Out!!</span>
          </div>
        <% end %>
        
        <h2><%= product.product_name %></h2>
        <h3><%= product.description %></h3>
        <p>¥<%= product.price %>(※送料別)</p>
        <%= link_to 'BUY', product_orders_path(product.id), class: "item-red-btn" %>
      </div>
    <% end %>
  </div>
</main>
<%= render "shared/footer" %>
