<%= render "shared/header" %>

<h1>Online store</h1>
<p>ご注文はユーザー登録をお願いします</p>
<a href="<%= new_user_registration_path %>" class="register-link">Click here to order and register</a>

<div class="products">
  <% @products.each do |product| %>
    <div class="product">
    <%= image_tag product.image.variant(resize: '500x500'), class: 'product-image' if product.image.attached? %>
      <h2><%= product.name %></h2>
      <p><%= product.price %></p>
    </div>
  <% end %>
</div>

<%= render "shared/footer" %>