<%= render "shared/header" %>

<h1>Online store</h1>
<p>ご注文はユーザー登録をお願いします</p>
<a href="<%= new_user_registration_path %>" class="register-link">Click here to order and register</a>

<div class="products">
  <% @products.each do |product| %>
    <div class="product">
      <% if product.image_url.attached? %>
        <%= image_tag product.image_url, size: "320x480" %>
      <% else %>
        <%= image_tag "product1.jpg" , size: "320x480"%>
      <% end %>
      <h2><%= product.product_name %></h2>
      <h3><%= product.description %></h3>
      <p>¥<%= product.price %>(※送料別)</p>
    
        <div class="buy_btn">
            <%= link_to 'BUY', new_product_order_path(product.id) %>
        </div>
    </div>
  <% end %>
</div>

<%= render "shared/footer" %>